* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cambio{
    margin-left: -340%;
}
#cambios{
    margin-left: -580%;
}

body {
    background: linear-gradient(to right, #90CAF9, #1565C0);
}

.titulo1{
    text-decoration: underline;
    color: #ff6d00;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.caja1{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.carta1{
    background-color: #FFFFFF;
    margin-left: 5%;
    height: 100px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 8px rgb(0, 0, 0, 0.3);
}

.titulo2{
    text-decoration: underline;
    color: #ff6d00;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.carta1 :hover{
    height: 100px;
    box-shadow: 4px 4px 10px 8px rgb(0, 0, 0, 0.5);
}

.padre1 p{
    font-size: larger;
}

.hijo1{
    display: flex;
    gap: 60px;
    margin-left: 18%;
}

.hijo2{
    margin-top: 3%;
    margin-left: 30%;
    
}

.nieto1{
    background-color: #FFFFFF;
    
}
