
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color:#ff6d00;
    background: linear-gradient(to left, #90caf9, #1565c0);
}


#titulo {
    text-align: center;
    margin: 30px 0;
    color:#ff6d00;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}


h4,
h5,
h6 {
    max-width: 1100px;
    margin: 30px auto 15px;
    padding: 0 20px;
}


body > p {
    max-width: 1100px;
    margin: 15px auto;
    padding: 0 20px;
}


.info1 {
    max-width: 1100px;
    margin: 0 auto 30px;
    padding: 20px;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
}

.info1parte1 {
    width: 100%;
}


.info2 {
    max-width: 1100px;
    margin: 0 auto 30px;
    padding: 25px;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
}

.info2parte1 {
    width: 60%;
}

.info2parte2 {
    width: 40%;
}


.info3 {
    max-width: 1100px;
    margin: 0 auto 30px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}

.info3parte1,
.info3parte2,
.info3parte3 {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}


body > ul {
    max-width: 1050px;
    margin: 15px auto 30px;
    padding-left: 45px;
}


.navbar {
    width: 100%;
}
#uno{
    font-size: 20px;
    text-align: center;
    color: #ffff;
}
#seis{
    font-size: 20px;
    text-align: center;
    color: #ffff;
}
#siete{
    font-size: 20px;
    text-align: center;
    color: #ffff;
}
#ocho{
    font-size: 20px;
    text-align: center;
    color: #ffff;
}
#lista{
    text-align: center;
    color: #ffff;
}
#diez{
     text-align: center;
}
#nueve{
     text-align: center;
}
#once{
    text-align: center;
}

@media (max-width: 768px) {

    .info1,
    .info2 {
        flex-direction: column;
    }

    .info2parte1,
    .info2parte2 {
        width: 100%;
    }

    .info3 {
        grid-template-columns: 1fr;
    }

    #titulo {
        font-size: 28px;
    }
}
