body{
    background-color: cornflowerblue;
    img
}
.padre{
    display: flex;
    margin-top: 50px;
    margin-left: 30%;
    gap: 30%;
}
.hijo1{
    color: rgb(199, 43, 43);
}
.hijo2{
    color: goldenrod;
}